<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>ppe-on/offline</title>
  <script>
      navigator.serviceWorker.register('ppe-sw.js').then(
          function(){
              console.log('Service Worker Registrado.');
          },
          function(erro){
              console.log('Erro ao registrar service workers', erro);
          }
      );
  </script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--   <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
  <link href="css/ftsl.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <style type="text/css"></style>
</head>

<body ng-app="app" ng-controller="PessoaController" ng-init="listarUfs()">

  <section class="" style="background-color: #cacaca; padding: 10px">
    <article class="blue-grey lighten-4">
        <nav style="background: #cacaca">
            <div class="container">
            <div class="col-md-12">
                <div class="col-md-6">
                    <span class=" blue-grey-text"> 
                        <input type="checkbox" ng-change="changeConnection(online)" ng-model="online" />Online
                    </span>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <a ng-show="online" style="background: #5cb85c; padding: 5px;color: white; display: inline-block" ><i class="material-icons"  style="text-decoration: bold">cloud_queue</i></a>
                        <a ng-show="!online" style="background: #d9534f; padding: 5px; color: white; display: inline-block" ><i class="material-icons"  style="text-decoration: bold">cloud_off</i></a>
                    </div>
                </div>
            </div>
            </div>
        </nav>    
    </article>
  </section>

  <section ng-show="page == 'novo'" class="" style="background-color: #eaeaea; margin-top: 0px;">
    <article class="blue-grey lighten-4" style="height: auto">
        <div class="container">
            <h1> App Demo Offline</h1>
            <div class="col-md-12">
                <form class="">
                <div class="row">
                    <div class="form-group">
                        <label for="first_name">Nome</label>
                        <input ng-model="pessoa.nome" placeholder="nome" id="first_name" type="text" class="validate form-control">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Sobrenome</label>
                        <input ng-model="pessoa.sobrenome" placeholder="sobrenome" id="last_name" type="text" class="validate form-control">
                    </div>
                    <div class="form-group">
                        <label for="uf">Uf:</label>
                        <select ng-model="pessoa.uf" id="uf" class="validate form-control">
                          <option ng-if="ufs && ufs.length > 0" ng-repeat="uf in ufs" value="{{uf.nome}}">{{uf.nome}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Email</label>
                        <input ng-model="pessoa.email" placeholder="email" id="email" type="email" class="validate form-control">
                    </div>
                    <div class="col-sm-6">
                        <a ng-click="savePessoa()" class="btn btn-primary"><i class="material-icons left">done</i> Enviar</a>
                        <a ng-click="cancelar()" class="btn btn-danger"><i class="material-icons right">cancel</i> Cancelar</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </article>
  </section>
  <section ng-show="page == 'listar'" class="" style="margin-top: 10px">
    <article class="blue-grey lighten-4" style="height: auto">
        <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <button ng-click="goNovo()" class="btn btn-info">
                    Novo
                </button>
              </div>
            </div>
            <br/>
            <br/>
            <div class="row">
              <div class="col-sm-6">
                <button ng-disabled="!online" ng-click="listarOnline()" class="btn btn-primary">Listar Online</button>
                <button ng-click="listarOffline()" class="btn btn-primary">Listar Offline</button>
                <button ng-disabled="!online" ng-click="sincronizar()" class="btn btn-primary">
                    <i class="material-icons">backup</i>
                </button>
              </div>
            </div>
            <div class="row">    
            <div style="height: 1px; background: #999; margin-top: 30px"></div>
            <h1>Dados salvos</h1>
                 <table ng-show="pessoas && pessoas.length > 0" class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>UF</th>
                            <th>Email</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pessoa in pessoas">
                            <td>{{pessoa.nome}}</td>
                            <td>{{pessoa.sobrenome}}</td>
                            <td>{{pessoa.uf}}</td>
                            <td>{{pessoa.email}}</td>
                            <td>
                              <a href="javascript:void(0)" ng-click="edit(pessoa)">edit</a> | <a href="javascript:void(0)" ng-click="delete(pessoa)">delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
  </section>
  

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
  <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="js/angular-indexed-db.min.js"></script>
  <script src="js/angular-ping.js"></script>
  <script src="js/offline.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/indexdb-service.js"></script>
  <script src="js/nuvem-service.js"></script>
  <script src="js/init.js "></script>
  <script src="registros/profissao.js "></script>
</body>

</html>
